

/* Light theme colors */
:root {
    /*Logo colors*/
    --logo-color1: #e63946;
    --logo-color2: #afd2af;
    --logo-color3: #5fcacc;
    --logo-color4: #457b9d;
    --logo-color5: #1d3557;
    /*Login*/
    --login-header: #1b72c9;
    /*Main color*/
    --title-color: #1b72c9;
    --title-color2: #e5e3e0;
    --point-color: #ff9844;
    --header-color: #000000;
    --sep-border-color: #dadada;
    /* CARD */
    --bg-card: #ffffff;
    --bg-card-hover: #f1f1f1;
    --image-card: #f6f6f6;
    /*Link animated gradient*/
    --grad1-link: #ff4e4e;
    --grad2-link: #f9d523;
    /* Timer colors */
    --timer-color: #189bec;
    --timer-shadow: #daeefc;
    --timer-bg: #e1e1e1;
    /* Buttons */
    --btn-bg: #1d5d91;
    --btn-hover-bg: #3387bb;
    --btn-text: #fff;
    /* Links */
    --bg-link: #eeeeee;
    --bg-link-hover: #d0d0d0;
    /* Page theme */
    --bg-color: #fefefe;
    --text-color-page: #0e0e0e;
    --text-color: #333;
    /* Inputs */
    --input-bg: #fff;
    --input-border: #ccc;
    --input-text: #222;
    --checkbox-accent: #7199c0;
    /* Navigation links */
    --link-color: #626262;
    --link-active-color: #0e0e0e;
    --link-bg-color: #efefef;
    --link-hover-color: #000000;
    /* Other, Guest Page */
    --primary-color: #0063bb;
    --feedback-color: #3387bb;
    --card-bg: #fff;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

/* Dark theme colors */
.dark {
    /*Logo colors*/
    --logo-color1: #e63946;
    --logo-color2: #f1faee;
    --logo-color3: #a8dadc;
    --logo-color4: #457b9d;
    --logo-color5: #1d3557;
    /*Main color*/
    --title-color: #6cbdf7;
    --title-color2: #ffffff;
    --point-color: #ff9844;
    --header-color: #fafafa;
    --sep-border-color: #4d4d4d;
    --content-color: #b7cad4;
    /* CARD */
    --bg-card: #101214;
    --bg-card-hover: #282828;
    --image-card: #1e1e1e;
    /*Link animated gradient*/
    --grad1-link: #77c2ff;
    --grad2-link: #88d5ff;
    /* Timer colors */
    --timer-color: #ffffff;
    --timer-shadow: #00a6ff;
    --timer-bg: #111;
    /* Buttons */
    --btn-bg: #1d5d91;
    --btn-hover-bg: #338bbb;
    --btn-text: #fff;
    /* Links */
    --bg-link: #2f2f2f;
    --bg-link-hover: #464646;
    /* Page theme */
    --bg-color: #101214 !important; /*180900*/
    --text-color-page: #e8e6e2;
    --text-color: #9ecfff;
    /* Inputs */
    --input-bg: #181a1b;
    --input-border: #3e4446;
    --input-text: #d3cfc9;
    --checkbox-accent: #7199c0;
    /* Navigation links */
    --link-color: #c2c2c2;
    --link-active-color: #e8e6e3;
    --link-bg-color: #313131;
    --link-hover-color: #bebebe;
    /*Others, */
    --primary-color: #0088ff;
    --feedback-color: #337ebb;
    --card-bg: #101214;
    --card-shadow: rgba(0, 0, 0, 0.08);
}
